{% extends "BlogBundle::frontend.html.twig" %}
{% block content %}
  <article class="post">
    <header>
      <h2>{{ 'Thank you'|trans }}</h2>
    </header>
    <p>
      {{ 'comment.message.confirm'|trans }}
    </p>
    {{ render(controller('BlogBundle:Frontend\\Widget:latestPost')) }}
  </article>
{% endblock %}
