{% extends "BlogBundle::backend.html.twig" %}
{% block content %}
{{ form_start(form, {'action': url('_blog_backend_tag_create'), 'method': 'POST', 'attr': {'class': 'well'} }) }}
   {% include 'BlogBundle:Backend/Tag:edit.form.html.twig' with {'form': form } %}
</form>
{% endblock %}
